body{
    margin: 0;
    padding: 0;
}
#canvas{
    border: 1px solid black;
    display: block;
    font-size: 30px;
    background: url("../img/back256.jpg");
}

.saved_code{
    display: inline-block;
    position: absolute;
    left: -1000px;
}

.saveOk{
    background-color: yellowgreen;
}

.warning{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    padding: 7px;
    border: 3px solid lightcoral;
    font-weight: bold;
    max-width: 450px;
    transition: transform 0.3s ease;
    font-family: Arial;
    color: white;
}
.warning.hidden{
    transform: translateY(-1000px);
}

.setting_warning{
    position: absolute;
    left: 75%;
    top: 10px;
    transform: translateX(-50%);
    padding: 7px;
    border: 3px solid lightcoral;
    font-weight: bold;
    max-width: 550px;
    transition: transform 0.3s ease;
    font-family: Arial;
    font-size: 11px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
.setting_warning.hidden{
    transform: translateY(-1000px);
}

.hide{
    display: none;
}